.Home{
    display:flex;
}

.homeImage{
    flex:1;
    width:70%;
    height:100vh;
}

.loginContainer{
    width:30%;
    height:100vh;
    background-color: white;
}

.homeHeaders{
    font-size: 30px;
}

.login{
    margin-left:10%;
    margin-right:10%;
}

img {
    max-width: 100%;
    height:100vh;
}