.home{
  width:100%;
  height:600px;
  background-color:#1a012b;
  
}

.about{
  width:50%;
  height:100%;
  margin:auto;
}


.content{
  width:100%;
  height:600px;
  
}

.aboutDescription{
  color:#fe5f55;
  font-size:80px;
  padding:50px;
}

@media only screen and (max-width:1575px){
  .aboutDescription{
    font-size:70px;
  }
}